.esop-select-group{
  select{
    font-size: 12px;
    background-color: #eceeef;
    width: 191px;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    margin-top:8px;
  }
}