
input {
  border-radius: 3px;
  width: inherit;
  border: 1px solid lightgray;
  height: 40px;
}
label {
  width: 100%;
}

.inline {
  display: inline-flex;
  align-items: center;
}

.error-text {
  color: #f41e00;
  margin-bottom: 10px;
}

.text-mandatory {
    color: #f41e00;
}