
input[type = 'file'] {
  color: transparent;
  margin: 0px;
}
.d-inline-flex > img{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper > button {
  border-radius: 4px;
  background-color: #4a90e2;
}
.upload-btn-wrapper > button:hover {
  border: 2px solid #4a90e2;
  cursor: pointer;
  color: green;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}